<select {{on 'change' selectedCategory value='target.value'}}>
  <option value="Lunch">Lunch</option>
  <option value="Breakfast">Breakfast</option>
  <option value="Dinner">Dinner</option>
  <option value="Beverages">Beverages</option>
  <option value="Desserts">Desserts</option>
  <option value="Soup">Soup</option>
  <option value="Salad">Salad</option>
  <option value="Snacks">Snacks</option>
</select>